<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>MladCms</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link href="styles.c1e9b4a3bb92a583835a6ae230432e60.bundle.css" rel="stylesheet"></head>
<body>
  <app-root>Loading...</app-root>
<script type="text/javascript" src="inline.d41d8cd98f00b204e980.bundle.js"></script><script type="text/javascript" src="styles.5f7f16a82a4f91544984.bundle.js"></script><script type="text/javascript" src="scripts.3eb1aed6c3eb7bb48a83.bundle.js"></script><script type="text/javascript" src="main.6963377a6221ea0f7ba4.bundle.js"></script></body>
</html>
